/* Reseteo CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* grid */

.contenedorPrincipal{
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "seccionArribaMain"
                         "seccionMain"
                         "contenedorImagenesHome"
                         "seccionArribaFooter"
                         "footer";
}

.contenedorNuestraHistoria{
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "seccionArribaMain"
                         "mainNuestraHistoria"
                         "seccionAbajoMain"
                         "seccionArribaFooter"
                         "footer";
}

.contenedorContactanos{
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    grid-template-areas: "header header header"
                         "seccionIzquierdaMain mainContactenos seccionDerechaMain"
                         "seccionArribaFooter seccionArribaFooter seccionArribaFooter"
                         "footer footer footer";
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fb7497;
    padding: 0.7rem;
    grid-area: header;
    height: 10vh;
}

.seccionMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    background: linear-gradient(225deg, rgba(36,0,36,1) 0%, rgba(244,238,238,1) 0%, rgba(255,238,238,1) 100%);
    grid-area: seccionMain;
    height: 70vh;
}

.mainNuestraHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    background: linear-gradient(225deg, rgba(36,0,36,1) 0%, rgba(244,238,238,1) 0%, rgba(255,238,238,1) 100%);
    grid-area: mainNuestraHistoria;
    height: 70vh;
}

.mainContactenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Alegreya Sans SC', sans-serif;
    background: linear-gradient(225deg, rgba(36,0,36,1) 0%, rgba(244,238,238,1) 0%, rgba(255,238,238,1) 100%);
    grid-area: mainContactenos;
    height: 70vh;    
    width: 40vw;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    background: linear-gradient(225deg, rgba(36,0,36,1) 0%, rgb(245, 220, 220) 0%, rgba(255,238,238,1) 100%);
    height: 70vh;
}

.seccionArribaMain{
    display: flex;
    background-image: linear-gradient(45deg, #f8a7a9 0%, #fad0c4 99%, #fad0c4 100%);
    grid-area: seccionArribaMain;
    height: 50vh;
}

.seccionAbajoMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    background: linear-gradient(225deg, rgba(36,0,36,1) 0%, rgb(249, 209, 209) 0%, rgba(255,238,238,1) 100%);
    grid-area: seccionAbajoMain;
    height: 30vh;
    
}

.seccionIzquierdaMain{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #faa9ac 0%, #fad0c4 99%, #fad0c4 100%);
    grid-area: seccionIzquierdaMain;
    height: 70vh;
    width: 30vw;
}

.seccionDerechaMain{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #faa9ac 0%, #fad0c4 99%, #fad0c4 100%);
    grid-area: seccionDerechaMain;
    height: 70vh;
    width: 30vw;
}

.contenedorImagenesHome{
    display: flex;
    background: linear-gradient(225deg, rgba(36,0,36,1) 0%, rgba(244,238,238,1) 0%, rgba(255,238,238,1) 100%);
    grid-area: contenedorImagenesHome;
    justify-content: center;
    height: 40vh;
}

.seccionArribaFooter{
    display: flex;
    background-color: #e04b73;
    color: whitesmoke;
    text-shadow: 0.8px 0.8px black;
    justify-content: center;
    grid-area: seccionArribaFooter;
    height: 4vh;
}

footer{
    grid-area: footer;
    height: 16vh;
}



/* estilos del menu */

.menu ul li{
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px black;
    font-size: 0.8rem;
    font-weight:lighter ;
    display: inline-block;
    margin: 0.3rem;
    padding: 0.3rem;
    position: relative;
   
}

.menu ul li a{
    color: whitesmoke;
    text-decoration: none;
}

.menu ul li a:hover{
    color: black;
    text-shadow: 0.5px 0.5px whitesmoke;
}


/* estilos del subMenu */

.subMenu{
    color: white;
    display: none; 
    position: absolute;
    top: 1.5rem;
    left: 0;
    background-color: #fb7497
  
}

.subMenu li{
    width: 8rem;
    font-size: 0.8rem;
}

.subMenu li:hover{
    color: black;
    text-shadow: 0.5px 0.5px whitesmoke;
}

.menu ul li:hover > .subMenu{
    display: block; 
}


/* estilos del subSubmenu */

.subSubMenu{
    display: none; 
    position: absolute;
    top: 0px;
    left:6.8rem;
    background-color: #fb7497;
    
}

.subMenu li:hover > .subSubMenu{
    display: block; 
}

.logoTipo{
    padding: 0.5rem;
}


/* estilos del footer */

.linea{
    border-top: 1px solid #959191;
    width: 14rem;
    margin-bottom: 0.3rem;
  }

.opcionesFooter{
    padding: 0.5rem;
    background-color: #dc2e5c;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    font-family: 'Alegreya Sans SC', sans-serif;
    display: flex;
    height: 8rem;
    justify-content: space-around;
}

.derechoAutor{
    background-color: #f04a76;
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0.2px 0.2px black;
    font-size: 0.8rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apoyo a{
    text-decoration: none;
    color: whitesmoke;
}

.apoyo a:hover{
    color: black;
    text-shadow: 0.5px 0.5px whitesmoke;
}

.asistencia a{
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 0.2rem;
}

.asistencia a:hover{
    color: black;
    text-shadow: 0.5px 0.5px whitesmoke;
}

.seguinosEn a i{
    color: whitesmoke;
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

.seguinosEn a:hover{
    color: black;
    text-shadow: 0.5px 0.5px whitesmoke;
}


/* estilos de la page Contáctenos */

.tituloPrincipalContactenos{
    margin: 1.5rem;
    font-size: 2.5rem;
    text-shadow: 1px 1px white;
    color: #b9123e;
}

.tituloSecundarioContactenos{
    font-size: 2rem;
    text-shadow: 1px 1px white;
}

.preguntaContactenos{
    font-size: 1.5rem;
    text-shadow: 1px 1px white;
}

.parrafoContactenos{
    font-size: 1rem;
    text-shadow: 1px 1px white; 
    width: 18rem;
}

.tituloForm{
    font-size: 1rem;
    text-shadow: 1px 1px white;
}

.formInput{
    font-family: inherit;
    margin-top: 1rem;
}

.formBtn{
    font-family: inherit;
    padding: 0.2rem;
    margin: 0.5rem;
    width: 5rem;
    background-color:#b9123e;
    color: white;
    border-radius: 0.3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.formContactenos{
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1.5rem;
    
}

/* estilos de la page producto */
.productoVideo{
    width: 40rem; 
    height: 20rem;
}

.parrafoMainProducto{
    margin: 1rem;
}

.tituloProducto{
    color: #b9123e;
}


/* main */
.contenedorImagenesHome{
    display: flex;
}

.tituloHome{
    color: #b9123e;
}

.subtituloHome{
    color: #b83659;
}

.imagenesManteles{
    border-radius: 1rem;
    width: 80%;
}

/* Nuestra historia */

.mainNuestraHistoria .contenedorNuestraHistoria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementoNuestraHistoria{
    margin: 2rem;
    width: 25rem;
}

.tituloNuestraHistoria{
    font-size: 2rem;
    color: #b9123e;
}

.imagenNuestraHistoria{
    border-radius: 2rem;
}


.contenedorElemNuestrosClientes{
    display: flex;
    flex-direction: column;

}

.elementoNuestroCliente{
    display: flex;
    margin: 1rem
}

/* promociones */

.tituloPromociones{
    color: #b9123e;
}

.imagenDescuento{
    border-radius: 1rem;
    margin: 0.2rem;
}

/* Venta por mayor */

.tituloVentaMayor{
    color: #b9123e;
}

.imagenVentaMayor{
    border-radius: 1rem;
    margin: 0.5rem;
}


/* politica de cambio y devolucion*/

.tiluloPoliticaCambio{
    margin:0.5rem;
    color: #b9123e;
}

.subtituloPoliticaCambio{
    margin-bottom: 1rem;
    color: #b83659;
}

.contenedorPoliticaCambioDevol{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    gap: 0.5rem;
}



/* politica de envío */

.tituloPoliticaEnvío{
    color: #b9123e;
}

.subtituloPoliticaEnvío{
    margin:1rem;
    color: #b83659;
}

.parrafoPoliticaEnvio{
    width: 40rem;
    text-align: left;
}

/* preguntas frecuentes */

.tituloPreguntasFrecuentes{
    color: #b9123e;
}

.subtituloPreguntaFrecuente{
    color: #b83659;
}

.respuestaPreguntaFrecuente{
    margin-top: 1rem;
    text-align: left;
}


/* -- media queries - Mobile -- */

@media screen and (max-width: 576px) {

    /* grid */

    .contenedorPrincipal{
        grid-template-areas: "header"
                             "seccionMain"
                             "contenedorImagenesHome"
                             "seccionArribaFooter"
                             "footer";
    }
    
    .contenedorNuestraHistoria{
        grid-template-areas: "header"
                             "mainNuestraHistoria"
                             "seccionAbajoMain"
                             "seccionArribaFooter"
                             "footer";
    }

    .contenedorContactanos{
        grid-template-columns: auto;
        grid-template-rows: auto; 
        grid-template-areas: "header"
                             "mainContactenos"
                             "seccionArribaFooter"
                             "footer";
    }


    /* header */

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
        height: 50vh;
    }

    .menu ul li{
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fdcbbd 99%, #fad0c4 100%);     
    }

    .logoTipo{
        width: 60%
    }

    /* footer */ 

    .linea{
        width: 6rem;
      }


    /* estilos de la page producto */

    .productoVideo{
        width: 22rem; 
        height: 25rem;
    }   

    /* estilos de la page Contáctenos */
    
    .mainContactenos{
        width: 100vw;
    }

    .seccionIzquierdaMain{
        height: 0vh;
    }
    
    .seccionDerechaMain{
        height: 0vh;
    }

    .seccionArribaMain{
        display: none;
    }

    .parrafosHome{
        margin: 0.5rem;
        width: 10rem;
    }
  
    .subtituloHome{
        width: 8rem;
        margin-bottom: 1rem;
    }

    .seccionArribaFooter{
        font-size: 0.7rem;
    }

    .opcionesFooter{
        font-size: 0.7rem;
    }
    
    .apoyo{
        display: none;
    }

    .derechoAutor{
        display: none;
    }

    .imagenesManteles{
        width: 80%;
    }
 
    .contenedorImagenesHome{
        height: 3.5rem;
    }
 
}

/* -- media queries - Tablet -- */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .contenedorPrincipal{
        height: 100vh;
        width: 100vw;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "header"
                             "seccionArribaMain"
                             "seccionMain"
                             "contenedorImagenesHome"
                             "seccionArribaFooter"
                             "footer";
    }


    .contenedorImagenesHome{
        background: linear-gradient(225deg, rgba(36,0,36,1) 0%, rgb(245, 220, 220) 0%, rgba(255,238,238,1) 100%);
        grid-area: contenedorImagenesHome;
    }

    /* header */

    .menu ul li{
        font-size: 0.4rem;
    }

    .logoTipo{
        width: 40%
    }

    /* footer */ 

    .linea{
        width: 9rem;
      }

    /* estilos de la page Contáctenos */

    .tituloPrincipalContactenos{
        margin: 1rem;
        font-size: 1.5rem;
    }

    .tituloSecundarioContactenos{
        font-size: 1.3rem;
    }

    .preguntaContactenos{
        font-size: 1rem;
    }

    .parrafoContactenos{
        font-size: 0.6rem;
        width: 10rem;
    }

    .formBtn{
        font-size: 0.7rem;
    }

    .mainContactenos{
        justify-content: center;
        width: 60vw;
    }

    .seccionIzquierdaMain{
        width: 20vw;
    }
    
    .seccionDerechaMain{
        width: 20vw;
    }
}


/* -- media queries - Desktop -- */

@media screen and (min-width: 992px) {

    /* header */

    .menu ul li{
        font-size: 0.8rem;
    }

    .logoTipo{
        width: 60%
    }

    /* footer */ 

    .linea{
        width: 14rem;
      }
}

